In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('nba-2.csv')

In [4]:
def clean_df(df):
    df.Salary.fillna(df.Salary.mean(), inplace=True)
    df.College.fillna('NotAvb', inplace=True)
    df.dropna(inplace=True)
    df.Height.replace('\-','.', regex=True,inplace=True)
    df['Height'] = df['Height'].astype(float)
    return df

In [5]:
df = clean_df(df)

In [6]:
df.shape

(457, 9)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 457 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    float64
 6   Weight    457 non-null    float64
 7   College   457 non-null    object
 8   Salary    457 non-null    float64
dtypes: float64(5), object(4)
memory usage: 35.7+ KB

In [8]:
df.Position.value_counts()

Position
SG    102
PF    100
PG     92
SF     85
C      78
Name: count, dtype: int64

In [9]:
df.isnull().sum()/len(df)*100

Name        0.0
Team        0.0
Number      0.0
Position    0.0
Age         0.0
Height      0.0
Weight      0.0
College     0.0
Salary      0.0
dtype: float64

In [10]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6.2,180.0,Texas,7.730337e+06
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6.6,235.0,Marquette,6.796117e+06
2,John Holland,Boston Celtics,30.0,SG,27.0,6.5,205.0,Boston University,4.842684e+06
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6.5,185.0,Georgia State,1.148640e+06
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6.1,231.0,NotAvb,5.000000e+06

In [21]:
df.Team.nunique()

30

In [22]:
df.College.nunique()

119

In [19]:
df2 =df.groupby(['College'])['Salary'].sum().sort_values(ascending=False)[:10]
df2

College
NotAvb            4.877292e+08
Kentucky          1.377066e+08
Duke              8.966454e+07
UCLA              8.610249e+07
Texas             8.071201e+07
Florida           6.533571e+07
Georgia Tech      6.406145e+07
Marquette         5.990644e+07
North Carolina    5.501946e+07
Kansas            5.150376e+07
Name: Salary, dtype: float64

In [30]:
tm =df.groupby(['Team'])['Salary'].sum().reset_index()
#sort_values(ascending=False)[:10]
tm10=tm.sort_values(by='Salary' ,ascending=False)[:10]
tm10

                     Team        Salary
5     Cleveland Cavaliers  1.118314e+08
14      Memphis Grizzlies  9.592162e+07
12   Los Angeles Clippers  9.485464e+07
20  Oklahoma City Thunder  9.376530e+07
15             Miami Heat  9.220104e+07
9   Golden State Warriors  8.886900e+07
4           Chicago Bulls  8.678338e+07
26      San Antonio Spurs  8.444273e+07
18   New Orleans Pelicans  8.275077e+07
3       Charlotte Hornets  7.834092e+07