In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('nba-2.csv')

In [25]:
def clean_df(df):
    df.Salary.fillna(df.Salary.mean(), inplace=True)
    df.College.fillna('NotAvb', inplace=True)
    df.dropna(inplace=True)
    df.Height.replace('\-','.', regex=True,inplace=True)
    df['Height'] = df['Height'].astype(float)
    return df

In [26]:
df = clean_df(df)

In [27]:
df.shape

(457, 9)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 457 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    float64
 6   Weight    457 non-null    float64
 7   College   457 non-null    object
 8   Salary    457 non-null    float64
dtypes: float64(5), object(4)
memory usage: 35.7+ KB

In [30]:
df.Position.value_counts()

Position
SG    102
PF    100
PG     92
SF     85
C      78
Name: count, dtype: int64

In [31]:
df.isnull().sum()/len(df)*100

Name        0.0
Team        0.0
Number      0.0
Position    0.0
Age         0.0
Height      0.0
Weight      0.0
College     0.0
Salary      0.0
dtype: float64

In [32]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6.2,180.0,Texas,7.730337e+06
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6.6,235.0,Marquette,6.796117e+06
2,John Holland,Boston Celtics,30.0,SG,27.0,6.5,205.0,Boston University,4.842684e+06
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6.5,185.0,Georgia State,1.148640e+06
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6.1,231.0,NotAvb,5.000000e+06